$primary-color: #1430af;
$secondary-color: #37d5d6;

@font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: normal;
    src: url('../../fonts/vaziri/Vazir.eot');
    src: url('../../fonts/vaziri/Vazir.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/vaziri/Vazir.woff2') format('woff2'),
    url('../../fonts/vaziri/Vazir.woff') format('woff'),
    url('../../fonts/vaziri/Vazir.ttf') format('truetype');
  }
  @font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: bold;
    src: url('../../fonts/vaziri/Vazir-Bold.eot');
    src: url('../../fonts/vaziri/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/vaziri/Vazir-Bold.woff2') format('woff2'),
    url('../../fonts/vaziri/Vazir-Bold.woff') format('woff'),
    url('../../fonts/vaziri/Vazir-Bold.ttf') format('truetype');
  }
