.officeContainer{
   display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.appContent{
   text-align: center;
    width: 80%;
    height: 80%;
}
.frameholder{
    width: 100%;
    height: 100%;
}
.frameholder iframe {
    width: 100%;
    height: 100%;
}

.fileBrowseArea{
    background-color: white;
    border-style: dashed;
    border-color: #989898;
    padding: 20px;
}

.fileBrowseArea img {
    width: 50%;
    height: 60%;
}

.fileBrowseArea p {
    font-size: large;
}

.appContent button {
    position:relative;
    margin-top:10%;
    background: #055388;
    border:1px solid white;
    padding:20px;
    font-size:1em;
    color:white;
    box-shadow:4px 4px 0px 0px white;
    font-family: 'Open Sans', sans-serif;
    font-weight:700;
    letter-spacing:5px;
    text-transform:uppercase;
    transition: all 300ms ease-in-out;
    left:0;
    top:0;
    width: 100%;
  }
  
.appContent button:hover {
    left:4px;
    top:4px;
    box-shadow:0 0 0 0 white;
  }
  


