@import '../../styles/variables';

.office_fileBrowseArea {
  background-image: linear-gradient(
    150deg,
    $primary-color 10%,
    $secondary-color 80%
  );
  padding: 10px;
  height: 45%;
}

.office_fileBrowseArea img {
  width: 50%;
  height: 60%;
  max-width: 280px;
  max-height: 180px;
}

.office_fileBrowseArea p {
  font-size: small;
  font-weight: bold;
  margin: 2px;
  color: white;
}

.office_fileBrowseArea button {
  font-family: 'Vazir';
  position: relative;
  border: none;
  border-radius: 40px;
  color: $primary-color;
  cursor: pointer;
  font-weight: 700;
  margin-top: 3px;
  background-color: white;
  width: 40%;
  height: 20%;
  padding: 0;
  transition: all 300ms ease-in-out;
  left: 0;
  top: 0;
  max-width: 300px;
}

.office_fileBrowseArea button:hover {
  left: 4px;
  top: 4px;
  box-shadow: 0 0 0 0 white;
}
